html,
body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}


@import url(//db.onlinewebfonts.com/c/4b57277e89dfdd30c9a6b69acaf78d3a?family=SF+Pro);
@font-face {font-family: "SF Pro"; src: url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot"); src: url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff") format("woff"), url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.svg#SF Pro") format("svg"); }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SF Pro Display', serif;
    font-feature-settings: "onum" 1;
}



h1 {
    font-family: 'SF Pro Display',serif;
    font-weight: bold;
    padding-left: .3em;
    padding-right: .3em;
    margin-bottom: .5em;
}


a:hover {
    text-decoration: underline;
}

u {
    font-family: 'Times New Roman';
    font-variant: small-caps;
    font-variant-numeric: oldstyle-nums;
    font-weight: 100;
    text-decoration: none;
    letter-spacing: .04em;
}

ul {
    padding-inline-start: 25px;
    padding-inline-end: 5px;
    margin-block-start: .75em;
    margin-block-end: .75em;
}


.emphasis {
    box-shadow: inset .4em 0px 0 white, inset 0 -.7em 0 var(--midcolor);
    font-weight: bold;
}



blockquote p {
    margin-block-start: .25em;
    margin-block-end: .25em;
}

code {
    background-color: #dfdfdf;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}



.sized {
    width: 800px;
    max-width: 75vw;
}

#description {
    padding-top: .5em;
    text-align: justify;
}



#footer {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
    font-size: small;
    color: rgb(160, 160, 160);
    width: 450px;
}




.sizedcontent {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.sliders{
    display: flex;
    column-gap: 3px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.sliderLabels{
  display: flex;
  column-gap: 21px;
  margin-bottom: 2px;
  margin-top: 5px;

  justify-content: space-between;
}

.clearNrand{
    display: flex;
  column-gap: 5px;
  margin-bottom: 15px;

  justify-content: space-between
}


.button button {
    font-family: 'SF Pro Display',serif;
    margin: 0;
    background-color: #651312;
    border: none;
    border-radius: 0.5rem;

    color: white;
    padding: 6px 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 300ms;
  }
  
  button:hover {
    background: #e20000;
  }



  .videoDemo{
    filter:brightness(400%);
  }

  
